<h1>Listing probas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @probas.each do |proba| %>
      <tr>
        <td><%= link_to 'Show', proba %></td>
        <td><%= link_to 'Edit', edit_proba_path(proba) %></td>
        <td><%= link_to 'Destroy', proba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proba', new_proba_path %>
