h1 Greetings #{@ticket.name},

p Your status is now #{@ticket.status.title}.
| Your unique code for your request #{@ticket.code}
| Your ticket was created at
=<l @ticket.created_at.to_time, format: :long
| Your ticket was answered at
=<l @ticket.updated_at.to_time, format: :long

p Answer for your request is #{@ticket.answer}.

div
  = link_to "View you ticket",  ticket_path(@ticket, only_path: false), class: "btn btn-primary"
